.fullbody {
  background-color: #76a477;
}

.biodata-container {
  position: relative;
  box-sizing: border-box ;
  width: 600px;
  height: 850px;
  margin: 0 auto;
  margin-top: 28px;
  padding: 20px;
  padding-top: 106px;
  padding-right: 100px;
  padding-left: 79px;
  padding-bottom: 106px;
  background-image: url('../../assets/images/design.png');
  background-color: hsl(0, 11%, 85%);
  /* border: 2px solid; */
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;


}

.biodata-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.8); */
  z-index: -1;

}



#previewContent {
  position: relative;
  background-color: transparent;
  /* width: 100%;
  height: 100%; */
  font-size: 16px;
  margin-bottom: 20px;
}

.label-name {
  font-size: 24px;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
}


.row {
  display: flex;
  margin-bottom: 0px;



}
.row-name {
  display: flex;
  margin-bottom: 0px;
  flex-direction: column;
  text-align: center;
}

/* .colon {
  margin: 0 5px;
} */

.label {
  font-weight: 100;
  flex-basis: 220px;
  font-size: small;
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
}

.value {
  flex-grow: 1;
  font-weight: 100;
  max-width: 600px;
  font-size: small;
  word-wrap: break-word;
}

.submit-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  max-width: 650px;
  margin: 0 auto;



}

.submit-button:hover {
  background-color: #0056b3;
}

/* .download-container {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  margin-top: 20px;
} */


